.footer {
  color: var(--indigo-35);
  background: var(--slate-100);
}
.container {
  width: 100%;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(90deg, var(--primary), var(--primary-violet));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc {
  margin: 12px 0 20px;
  color: var(--slate-40);
  font-size: 14px;
  line-height: 1.6;
}
.info p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin: 8px 0;
}
.info svg {
  color: var(--primary);
  font-size: 18px;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.links h4 {
  color: var(--white);
  margin-bottom: 12px;
  font-size: 16px;
}
.links ul {
  padding: 0;
}
.links li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--slate-40);
  cursor: pointer;
  transition: 0.3s;
}
.links li:hover {
  color: var(--primary);
  transform: translateX(4px);
}
.right h4 {
  margin-bottom: 16px;
}
.social {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.social span {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #1e293b;
}
.social span:hover {
  background: linear-gradient(135deg, var(--primary), var(--primary-violet) );
  color: #000;
  transform: translateY(-3px);
}
.legal p {
  font-size: 12px;
  color: var(--slate-50);
  margin-bottom: 5px;
}
.mapWrapper {
  position: relative;
  height: 220px;
  overflow: hidden;
  border-bottom: 1px solid #1e293b;
}
.map {
  width: 100%;
  height: 100%;
  border: 0;
  filter: grayscale(100%) contrast(110%) brightness(80%);
}
.mapWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #02061733, #020617cc);
}
.mapBtn {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: #020617cc;
  backdrop-filter: blur(10px);
  padding: 8px 14px;
  border-radius: 8px;
  color: var(--primary);
  font-size: 13px;
  text-decoration: none;
  transition: 0.3s;
}

.mapBtn:hover {
  background: var(--primary);
  color: #000;
}
.icon {
  font-size: 16px !important;
}
.copy {
  text-align: center;
  padding: 16px;
  font-size: 12px;
  color: var(--slate-40);
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .links {
    justify-content: flex-start;
    gap: 60px;
  }
  .mapWrapper {
    height: 260px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 60px;
  }
  .logo {
    font-size: 28px;
  }
  .desc {
    font-size: 16px;
  }
  .links h4 {
    font-size: 16px;
  }
  .links li {
    font-size: 16px;
  }
  .mapWrapper {
    height: 300px;
  }
}